<div id="<%= item.to_param %>" class="card card-outline-secondary">
  <div class="card-block">
    <h4 class="card-title"><%= link_to "Item number #{item.id}", item_path(item) %></h4>
    <p class="card-text"><%= item.value %></p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
  <div class="card-block">
    <a href="#" class="card-link">Card link</a>
    <%= link_to "Delete item", item, remote: true, method: :delete %>
  </div>
</div>
